@use '../../util/util';
@use '../../typography/typography' as font;
@use './add-column';
@use './task';

@mixin column {
  .column {
    .column__head {
      margin-bottom: 1.5rem;
      display: flex;

      .head_level-4 {
        color: util.$medium-grey;
        @include font.h4;
        text-transform: uppercase;
      }

      .status_theme {
        background-color: red;
        border-radius: 100%;
        padding: 0.45rem;

        margin-right: 0.75rem;
      }
      ._todo {
        background-color: #c75f8f;
      }
      ._doing {
        background-color: #c3c75f;
      }
      ._done {
        background-color: #5fc797;
      }
    }

    .column__task-wrapper {
      @include task.task;
      margin-bottom: 1.45rem;
      cursor: pointer;
    }
    // inside Task Component
    .column__task-wrapper:hover > .task {
      color: util.$purple;
    }
  }
}
