@use '../../util/util';
@use './add-column';
@use './column';

// only for layout

#board {
  .board_dark {
    background-color: util.$bg-theme_very-dark-grey;
    @media (min-width: util.$tablet) {
      border-top: 1px solid util.$lines_dark;
    }
  }
  .board_light {
    background-color: util.$bg-theme_light-grey;
    @media (min-width: util.$tablet) {
      border-top: 1px solid util.$lines_light;
    }
  }

  .board {
    height: 100vh;
    display: flex;
    overflow: scroll;
    position: relative;
  }
  .board_shift {
    /* padding-left: 250px; */
    transform: translateX(250px);
    transition: transform 450ms ease-out;
  }
}

.board__column-wrapper {
  @include column.column;
  margin: 1.5rem;
}
.board__add-column-wrapper {
  @include add-column.add-column;

  display: flex;
  align-items: center;
  justify-content: center;
}
