#header .add-task__btn {
  border: none;
  cursor: pointer;
  background-color: #635fc7;
  border-radius: 24px;
  color: #fff;
  word-spacing: -2.5px;
  padding: 0.625rem 1.125rem 0.5rem;
  display: flex;
}
@media (min-width: 643px) {
  #header .add-task__btn {
    padding: 0.9375rem 1.5625rem 0.875rem 1.5rem;
  }
}
@media (min-width: 768px) {
  #header .add-task__btn {
    padding: 0.9375rem 1.5625rem 0.875rem 1.5rem;
  }
}
#header .add-task__btn:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
#header .add-task__btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
  text-transform: capitalize;
}
#header .add-task__btn svg {
  width: 12px;
  height: 12px;
}
@media (min-width: 768px) {
  #header .add-task__btn svg {
    transform: scale(0.6);
    vertical-align: bottom;
  }
}
#header .chevron__btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
}
#header .vertical-elips__btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  padding: 0;
}
#header .sidebar-state {
  position: relative;
  z-index: 2;
}
#header .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
@media (min-width: 768px) {
  #header .head_level-2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1150px) {
  #header .head_level-2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.25em;
  }
}
#header .header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 643px) {
  #header .header {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
@media (min-width: 1150px) {
  #header .header {
    padding-top: 1.25rem;
    padding-bottom: 1.75rem;
  }
}
#header .header__head {
  margin-right: 0.25rem;
}
@media (min-width: 768px) {
  #header .header__head {
    margin-top: 0.15rem;
    margin-left: 1.75rem;
  }
}
#header .head-wrapper {
  display: flex;
  margin-top: 4px;
}
@media (min-width: 768px) {
  #header .head-wrapper {
    margin: 0;
  }
}
@media (min-width: 768px) {
  #header .line_dark {
    background-color: #3e3f4e;
  }
  #header .line_light {
    background-color: #e4ebfa;
  }
  #header .line {
    width: 1px;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 12.5rem;
  }
  #header .line_sidebar {
    left: 15.78rem;
  }
}
#header .header__logo {
  margin-right: 1rem;
}
#header .header__logo_sidebar {
  margin-right: 4.5rem;
}
#header .header__action-wrapper {
  display: flex;
  align-items: center;
}
#header .header__elips {
  position: relative;
  height: 20px;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  #header .header__elips {
    margin-left: 1.5rem;
  }
}
#header .submenu_dark {
  background-color: #20212c;
}
#header .submenu_light {
  background-color: #fff;
}
#header .header__submenu-wrapper {
  border-radius: 8px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  z-index: 1;
}
#header .header__submenu-wrapper .body_level-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
}
#header .header__submenu-wrapper .submenu__btn {
  border: none;
  color: #828fa3;
  background: transparent;
  cursor: pointer;
  padding: 0.25rem;
}
#header .header__submenu-wrapper ._delete {
  color: #ea5555;
}
#header .header__submenu-wrapper .submenu__btn {
  width: max-content;
}
#header .header__submenu-wrapper > div {
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
}
#header .log__btn > span > svg {
  fill: #828fa3;
  margin-left: 0.75rem;
}
#header .log__btn {
  display: flex;
  align-items: center;
}

.header_dark {
  background-color: #2b2c37;
}

.head_dark {
  color: #fff;
}

.header_light {
  background-color: #fff;
}

.head_light {
  color: #000112;
}

#task-form .btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  color: #635fc7;
  word-spacing: -2.5px;
  padding: 0.5rem 0 0.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#task-form .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  font-weight: 700;
  text-transform: capitalize;
}
#task-form .btn svg {
  width: 12px;
  height: 12px;
  fill: #635fc7;
  vertical-align: bottom;
  transform: scale(0.7);
}
#task-form .btn_create {
  background-color: #635fc7;
  color: #fff;
}
#task-form .btn_create:hover,
#task-form .btn_create:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#task-form .btn_delete {
  background-color: #ea5555;
  color: #fff;
}
#task-form .btn_delete:hover,
#task-form .btn_delete:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#task-form .btn_delete {
  color: #ea5555;
  color: #fff;
}
#task-form .btn_active--delete_light:hover,
#task-form .btn_active--delete_light:focus,
#task-form .btn_active--delete_dark:hover,
#task-form .btn_active--delete_dark:focus {
  background: #ff9898;
  transition: background-color 0.5s;
}
#task-form .btn_light--minor,
#task-form .btn_cancel--light {
  background-color: rgba(99, 95, 199, 0.1);
}
#task-form .btn_active--subtask:hover,
#task-form .btn_active--cancel_light:hover {
  background: rgba(99, 95, 199, 0.25);
  transition: background-color 0.5s;
}
#task-form .btn_active:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
#task-form .cross-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  fill: #828fa3;
  padding: 0;
}
#task-form .cross-btn:hover,
#task-form .cross-btn:focus {
  fill: #ea5555;
  transition: background-color 0.5s;
}
#task-form .task-form_dark {
  background-color: #2b2c37;
}
#task-form .task-form_light {
  background-color: #fff;
}
#task-form .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#task-form .task-form {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  padding: 1.5rem;
  border-radius: 6px;
}
#task-form .task-form .header_dark {
  color: #fff;
}
#task-form .task-form .header_light {
  color: #000112;
}
#task-form .task-form .task-form__head {
  margin-bottom: 1.5rem;
}
#task-form .form .form__label {
  display: flex;
  flex-direction: column;
  position: relative;
}
#task-form .form .form__label_dark {
  color: #fff;
}
#task-form .form .form__label_light {
  color: #828fa3;
}
#task-form .form .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 1.5rem;
}
#task-form .form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  margin-top: 0.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem;
}
#task-form .form .input:focus {
  outline: 1px solid #635fc7;
}
#task-form .form .input_dark {
  background-color: #2b2c37;
  color: #fff;
}
#task-form .form .input_dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#task-form .form .input_light {
  background-color: #fff;
  color: #000112;
}
#task-form .form .input_light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#task-form .form .input_subtask {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  width: 100%;
}
#task-form .form .input_subtask--error,
#task-form .form .input_title--error,
#task-form .form .input_description--error {
  outline: 1px solid #ea5555;
}
#task-form .form textarea {
  height: 104px;
}
#task-form .form .subtask-wrapper {
  position: relative;
  display: flex;
}
#task-form .form .fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
}
#task-form .form .fieldset:nthchild(even) {
  background-color: red;
}
#task-form .form .fieldset > legend,
#task-form .form .fieldset > label {
  margin: 0;
}
#task-form .form .fieldset > div > input {
  margin-top: 0;
}
#task-form .form .btn-wrapper {
  margin-bottom: 1.5rem;
}
#task-form .form select {
  text-transform: capitalize;
  padding: 1rem;
}

.msg_error {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  color: #ea5555;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.msg_error--subtask {
  top: 1rem;
  right: 3rem;
}

#subtask-form {
  width: 100%;
  max-width: 480px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 2;
}
#subtask-form input[type=checkbox] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#subtask-form .checkbox {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 0px 0.2rem;
  margin-right: 1rem;
  display: inline-block;
}
#subtask-form .checkbox_dark {
  background-color: #2b2c37;
}
#subtask-form .checkbox_active {
  background-color: #635fc7;
}
#subtask-form .subtask-form_dark {
  background-color: #2b2c37;
}
#subtask-form .subtask-form_light {
  background-color: #fff;
}
#subtask-form .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
  width: 95%;
}
#subtask-form .body_level-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  color: #828fa3;
}
#subtask-form .subtask-form {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
}
#subtask-form .subtask-form .header_dark {
  color: #fff;
}
#subtask-form .subtask-form .header_light {
  color: #000112;
}
#subtask-form .subtask-form .submenu_dark {
  background-color: #20212c;
}
#subtask-form .subtask-form .submenu_light {
  background-color: #fff;
}
#subtask-form .subtask-form .subtask-form__head {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
#subtask-form .subtask-form .subtask-form__body {
  margin-bottom: 1.5rem;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper {
  border-radius: 8px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  position: absolute;
  right: 2.25rem;
  top: 3rem;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper .submenu__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.25rem;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper ._delete {
  color: #ea5555;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper > div {
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
}
#subtask-form .form .form__label {
  display: flex;
  flex-direction: column;
}
#subtask-form .form .form__label_dark {
  color: #fff;
}
#subtask-form .form .form__label_light {
  color: #828fa3;
}
#subtask-form .form .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 1.5rem;
}
#subtask-form .form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  margin-top: 0.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem;
  opacity: 1 important;
}
#subtask-form .form .input:focus {
  outline: 1px solid #635fc7;
}
#subtask-form .form .input_error {
  outline: 1px solid #ea5555;
}
#subtask-form .form .input_dark {
  background-color: #2b2c37;
  color: #fff;
}
#subtask-form .form .input_dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#subtask-form .form .input_light {
  background-color: #fff;
  color: #000112;
}
#subtask-form .form .input_light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#subtask-form .form .input_subtask {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  width: 100%;
}
#subtask-form .form textarea {
  height: 104px;
}
#subtask-form .form .subtask-wrapper {
  display: flex;
}
#subtask-form .form .fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
#subtask-form .form .fieldset > legend,
#subtask-form .form .fieldset > label {
  margin-bottom: 1rem;
}
#subtask-form .form .btn-wrapper {
  margin-bottom: 1.5rem;
}
#subtask-form .form select {
  text-transform: capitalize;
  padding: 1rem;
}
#subtask-form .wrapper_dark {
  background-color: #20212c;
}
#subtask-form .wrapper_light {
  background-color: #f4f7fd;
}
#subtask-form .subtask-wrapper {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#subtask-form .subtask-wrapper .subtask__label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.9125em 0.25em 1em 0.75em;
}
#subtask-form .subtask-wrapper .description_active {
  text-decoration: line-through;
  opacity: 0.5;
}
#subtask-form .subtask-wrapper:hover,
#subtask-form .subtask-wrapper:focus {
  background-color: rgba(99, 95, 199, 0.25);
}

#board-form .btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  color: #635fc7;
  word-spacing: -2.5px;
  padding: 0.5rem 0 0.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#board-form .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  font-weight: 700;
  text-transform: capitalize;
}
#board-form .btn svg {
  width: 12px;
  height: 12px;
  fill: #635fc7;
  vertical-align: bottom;
  transform: scale(0.7);
}
#board-form .btn_create {
  background-color: #635fc7;
  color: #fff;
}
#board-form .btn_create:hover,
#board-form .btn_create:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#board-form .btn_delete {
  background-color: #ea5555;
  color: #fff;
}
#board-form .btn_delete:hover,
#board-form .btn_delete:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#board-form .btn_delete {
  color: #ea5555;
  color: #fff;
}
#board-form .btn_active--delete_light:hover,
#board-form .btn_active--delete_light:focus,
#board-form .btn_active--delete_dark:hover,
#board-form .btn_active--delete_dark:focus {
  background: #ff9898;
  transition: background-color 0.5s;
}
#board-form .btn_light--minor,
#board-form .btn_cancel--light {
  background-color: rgba(99, 95, 199, 0.1);
}
#board-form .btn_active--subtask:hover,
#board-form .btn_active--cancel_light:hover {
  background: rgba(99, 95, 199, 0.25);
  transition: background-color 0.5s;
}
#board-form .btn_active:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
#board-form .board-form_dark {
  background-color: #2b2c37;
}
#board-form .board-form_light {
  background-color: #fff;
}
#board-form .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#board-form .board-form {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  padding: 1.5rem;
  border-radius: 6px;
}
#board-form .board-form .header_dark {
  color: #fff;
}
#board-form .board-form .header_light {
  color: #000112;
}
#board-form .board-form .board-form__head {
  margin-bottom: 1.5rem;
}
#board-form .form .form__label {
  display: flex;
  flex-direction: column;
  position: relative;
}
#board-form .form .form__label_dark {
  color: #fff;
}
#board-form .form .form__label_light {
  color: #828fa3;
}
#board-form .form .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 1.5rem;
}
#board-form .form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  margin-top: 0.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem;
  outline: 1px solid #635fc7;
  opacity: 1 important;
}
#board-form .form .input_dark {
  background-color: #2b2c37;
  color: #fff;
}
#board-form .form .input_dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#board-form .form .input_light {
  background-color: #fff;
  color: #000112;
}
#board-form .form .input_light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#board-form .form .input_board--error {
  outline: 1px solid #ea5555;
}

#remove .btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  color: #635fc7;
  word-spacing: -2.5px;
  padding: 0.5rem 0 0.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#remove .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  font-weight: 700;
  text-transform: capitalize;
}
#remove .btn svg {
  width: 12px;
  height: 12px;
  fill: #635fc7;
  vertical-align: bottom;
  transform: scale(0.7);
}
#remove .btn_create {
  background-color: #635fc7;
  color: #fff;
}
#remove .btn_create:hover,
#remove .btn_create:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#remove .btn_delete {
  background-color: #ea5555;
  color: #fff;
}
#remove .btn_delete:hover,
#remove .btn_delete:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#remove .btn_delete {
  color: #ea5555;
  color: #fff;
}
#remove .btn_active--delete_light:hover,
#remove .btn_active--delete_light:focus,
#remove .btn_active--delete_dark:hover,
#remove .btn_active--delete_dark:focus {
  background: #ff9898;
  transition: background-color 0.5s;
}
#remove .btn_light--minor,
#remove .btn_cancel--light {
  background-color: rgba(99, 95, 199, 0.1);
}
#remove .btn_active--subtask:hover,
#remove .btn_active--cancel_light:hover {
  background: rgba(99, 95, 199, 0.25);
  transition: background-color 0.5s;
}
#remove .btn_active:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
#remove .remove_dark {
  background-color: #2b2c37;
}
#remove .remove_light {
  background-color: #fff;
}
#remove .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#remove .body_level-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  color: #828fa3;
}
#remove .remove {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
}
#remove .remove .header_dark {
  color: #fff;
}
#remove .remove .header_light {
  color: #000112;
}
#remove .remove .remove__head {
  margin-bottom: 1.5rem;
  display: flex;
}
#remove .remove .remove__body {
  margin-bottom: 1.5rem;
}
#remove .remove .remove__btn-wrapper > button {
  margin-bottom: 1rem;
}

.sidebar_id {
  height: 100%;
  position: relative;
  z-index: 2;
}
.sidebar_id .slider_dark {
  background-color: #20212c;
}
.sidebar_id .slider_light {
  background-color: #f4f7fd;
}
.sidebar_id .slider {
  border-radius: 6px;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
}
.sidebar_id .slider__content {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  display: flex;
  align-items: center;
}
.sidebar_id .slider__content > svg {
  padding: 0 1.4rem 0 1.4rem;
}
.sidebar_id .slider__btn-wrapper {
  background-color: #635fc7;
  border-radius: 1rem;
  width: 40px;
  display: flex;
  cursor: pointer;
}
.sidebar_id .slider_active:hover {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
.sidebar_id .slider__btn {
  all: unset;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.45rem;
  margin: 3px;
}
.sidebar_id .slide-right {
  transform: translateX(135%);
  transition: transform 450ms ease-out;
}
.sidebar_id .slide-left {
  transform: translateX(0);
  transition: transform 450ms ease-out;
}
@media (min-width: 768px) {
  .sidebar_id {
    position: absolute;
  }
}
.sidebar_id .head_level-3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
}
.sidebar_id .is-hidden {
  transform: translateX(-100%);
}
.sidebar_id .is-not-hidden-side {
  transform: translateX(0);
  transition: transform 450ms ease-out;
}
.sidebar_id .sidebar_dark {
  background-color: #2b2c37;
  border-right: 1px solid #3e3f4e;
}
.sidebar_id .sidebar_light {
  background-color: #fff;
  border-right: 1px solid #e4ebfa;
}
.sidebar_id .sidebar {
  color: #828fa3;
  fill: #828fa3;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .sidebar_id .sidebar {
    border-radius: 8px;
    position: absolute;
    min-width: 265px;
    top: 50%;
    left: 50%;
    height: fit-content;
    transform: translate(-50%, 10%);
    padding-bottom: 1rem;
  }
}
.sidebar_id .sidebar .sidebar__list {
  padding-right: 1.5rem;
}
.sidebar_id .sidebar .sidebar__list-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  text-transform: uppercase;
  padding: 1.25rem 0 1.25rem 2rem;
}
.sidebar_id .sidebar .sidebar__list-item--btn > svg {
  padding: 0 1rem 0 2rem;
}
.sidebar_id .sidebar .sidebar__list-item--btn {
  all: unset;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0 100px 100px 0;
  display: flex;
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
}
.sidebar_id .sidebar ._selected {
  background-color: #635fc7;
  color: #fff;
  fill: #fff;
}
.sidebar_id .sidebar .btn_active--light:hover,
.sidebar_id .sidebar .btn_active--light:focus {
  color: #635fc7;
  background: rgba(99, 95, 199, 0.1);
  fill: #635fc7;
}
.sidebar_id .sidebar .btn_active--dark:hover,
.sidebar_id .sidebar .btn_active--dark:focus {
  color: #635fc7;
  background-color: #fff;
}
.sidebar_id .sidebar .operator {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.sidebar_id .sidebar .add {
  fill: #635fc7;
  color: #635fc7;
  padding-bottom: 2rem;
}
.sidebar_id .sidebar .sidebar-slider__wrapper {
  padding: 0 1.5rem 0 1.5rem;
  padding: 0 1.5rem 0 0;
}
.sidebar_id .sidebar .sidebar__toggle-btn {
  border: none;
  background-color: transparent;
  color: #828fa3;
  cursor: pointer;
  width: 100%;
  padding: 0.9rem 1.25rem 0.9rem 0;
  margin-bottom: 1.75rem;
  margin-top: 1rem;
  display: flex;
  border-radius: 0 100px 100px 0;
}
.sidebar_id .sidebar .sidebar__toggle-btn:nth-child(odd) {
  fill: #fff;
}
.sidebar_id .sidebar .sidebar__toggle-btn > svg {
  margin-left: 1.5rem;
}
.sidebar_id .sidebar .sidebar__toggle-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
  text-transform: capitalize;
  margin-left: 0.9735rem;
  margin-right: 1.25rem;
}
.sidebar_id .sidebar .is-not-hidden {
  background-color: #635fc7;
  transform: translateX(122%);
  transition: transform 450ms ease-out 350ms;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
.sidebar_id .sidebar .show-btn_active:hover {
  background-color: #a8a4ff;
}
.sidebar_id .sidebar .is-hidden {
  background-color: #635fc7;
  fill: #fff;
  transform: translateX(-115%);
  position: absolute;
  bottom: 0;
}

.translate {
  transform: translateX(-100%);
  transition: transform 450ms ease-in;
}

.bg-color {
  width: 280px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(rgba(43, 44, 55, 0.3), rgba(43, 44, 55, 0.2));
}

#board {
  height: 100%;
}
#board .board_dark {
  background-color: #20212c;
}
@media (min-width: 768px) {
  #board .board_dark {
    border-top: 1px solid #3e3f4e;
  }
}
#board .board_light {
  background-color: #f4f7fd;
}
@media (min-width: 768px) {
  #board .board_light {
    border-top: 1px solid #e4ebfa;
  }
}
#board .board {
  height: 100vh;
  height: 100%;
  display: flex;
  overflow: scroll;
  position: relative;
}
#board ._center {
  justify-content: center;
}
#board .board_shift {
  padding-left: 250px;
  /* transform: translateX(250px); */
  transition: transform 450ms ease-out;
}

.board__column-wrapper {
  margin: 1.5rem;
}
.board__column-wrapper .column .column__head {
  margin-bottom: 1.5rem;
  display: flex;
}
.board__column-wrapper .column .column__head .head_level-4 {
  color: #828fa3;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  text-transform: uppercase;
}
.board__column-wrapper .column .column__head .status_theme {
  background-color: red;
  border-radius: 100%;
  padding: 0.45rem;
  margin-right: 0.75rem;
}
.board__column-wrapper .column .column__task-wrapper {
  margin-bottom: 1.45rem;
  cursor: pointer;
}
.board__column-wrapper .column .column__task-wrapper .task_dark {
  background-color: #2b2c37;
  color: #fff;
}
.board__column-wrapper .column .column__task-wrapper .task_light {
  background-color: #fff;
  color: #000112;
}
.board__column-wrapper .column .column__task-wrapper .task {
  border-radius: 8px;
  width: 280px;
  padding: 1.5rem 1rem;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  /* .task__head:hover {
  color: red;
  } */
}
.board__column-wrapper .column .column__task-wrapper .task .task__head {
  margin-bottom: 0.5rem;
}
.board__column-wrapper .column .column__task-wrapper .task .title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
  text-align: left;
}
.board__column-wrapper .column .column__task-wrapper .task .body {
  color: #828fa3;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  text-align: left;
}
.board__column-wrapper .column .column__task-wrapper:hover > .task {
  color: #635fc7;
}

.board__add-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__add-column-wrapper .add-column_dark {
  background-color: #20212c;
}
.board__add-column-wrapper .add-column_light {
  background-color: #f4f7fd;
}
.board__add-column-wrapper .add-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, -2.5rem);
}
.board__add-column-wrapper .add-column .add-column__head {
  margin-bottom: 1.5rem;
}
.board__add-column-wrapper .add-column ._pad {
  padding-left: 1.5rem;
}
.board__add-column-wrapper .add-column .add-column__head-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
  text-align: center;
  color: #828fa3;
}
.board__add-column-wrapper .add-column .operator {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.board__add-column-wrapper .add-column .add-column__btn {
  border: none;
  cursor: pointer;
  background-color: #635fc7;
  color: #fff;
  border-radius: 24px;
  padding: 0.9375rem 1.125rem;
}
.board__add-column-wrapper .add-column .btn_active:hover,
.board__add-column-wrapper .add-column .btn_active:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
.board__add-column-wrapper .add-column .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
}
.board__add-column-wrapper .add-column .btn-text_column {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: #828fa3;
}
.board__add-column-wrapper .add-column .operator_column {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25em;
  font-size: 1.25rem;
  color: #828fa3;
  letter-spacing: 2px;
}
.board__add-column-wrapper .add-column .btn_theme {
  background-color: #20212c;
  background-color: transparent;
}

/*# sourceMappingURL=components.exports.css.map */
