@use '../../util/util';
@use '../../typography/typography' as font;
@use '../../elements/btn';

@mixin task-btn {
  .btn {
    @include btn.btn;
    background-color: util.$white;
    border-radius: 24px;
    color: util.$purple;
    word-spacing: -2.5px;

    padding: 0.5rem 0 0.56rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-text {
    @include font.p1;
    font-weight: 700;
    text-transform: capitalize;
  }
  .btn svg {
    width: 12px;
    height: 12px;
    fill: util.$purple;
    vertical-align: bottom;
    transform: scale(0.7);
  }
  .btn_create {
    background-color: util.$purple;
    color: util.$white;
  }
  .btn_create:hover,
  .btn_create:focus {
    background: util.$purple_hover;
    transition: background-color 0.5s;
  }
  .btn_delete {
    background-color: util.$red;
    color: util.$white;
  }
  .btn_delete:hover,
  .btn_delete:focus {
    background: util.$purple_hover;
    transition: background-color 0.5s;
  }
  //TODO
  .btn_delete {
    color: util.$red;
    color: util.$white;
  }
  .btn_active--delete_light:hover,
  .btn_active--delete_light:focus,
  .btn_active--delete_dark:hover,
  .btn_active--delete_dark:focus {
    background: util.$red_hover;
    transition: background-color 0.5s;
  }
  .btn_active:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
  .btn_light--minor,
  .btn_cancel--light {
    background-color: rgba(99, 95, 199, 0.1);
  }
  .btn_active--subtask:hover,
  .btn_active--cancel_light:hover {
    background: rgba(99, 95, 199, 0.25);
    transition: background-color 0.5s;
  }
}

@mixin cross-btn {
  .cross-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    fill: util.$medium-grey;
    padding: 0;
  }
  .cross-btn:hover,
  .cross-btn:focus {
    fill: util.$red;
    transition: background-color 0.5s;
  }
}
