@use '../../util/util';
@use '../../typography/typography' as font;
@use './btn';

#board-form {
  @include btn.task-btn;

  .board-form_dark {
    background-color: util.$dark-grey;
  }
  .board-form_light {
    background-color: util.$white;
  }

  .head_level-2 {
    @include font.h2;
  }

  .board-form {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    padding: 1.5rem;
    border-radius: 6px;

    .header_dark {
      color: util.$white;
    }
    .header_light {
      color: util.$black;
    }

    .board-form__head {
      margin-bottom: 1.5rem;
    }
  }

  .board-form__form {
  }

  .form {
    .form__label {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .form__label_dark {
      color: util.$white;
    }
    .form__label_light {
      color: util.$medium-grey;
    }

    .label {
      @include font.p2;
      margin-bottom: 1.5rem;
    }

    .input {
      @include font.p1;
      margin-top: 0.5rem;
      border: 1px solid rgba(130, 143, 163, 0.25);
      border-radius: 4px;
      padding: 0.5rem 1rem 0.5rem;

      outline: 1px solid util.$purple;
      opacity: 1 important;
    }
    .input_dark {
      background-color: util.$dark-grey;
      color: util.$white;
    }
    .input_dark::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    .input_light {
      background-color: util.$white;
      color: util.$black;
    }
    .input_light::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
    .input_board--error {
      outline: 1px solid util.$red;
    }
  }
}
