@use '../../util/util';
@use '../../typography/typography' as font;
@use './add-task' as task;
@use './chevron' as chevron;
@use './vertical-elips' as elips;

#header {
  @include task.add-task;
  @include chevron.chevron;
  @include elips.vertical-elips;

  .head_level-2 {
    @include font.h2;
    @media (min-width: util.$tablet) {
      font-size: 1.25rem;
    }
    @media (min-width: util.$desktop) {
      @include font.h1;
    }
  }

  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: util.$desktop) {
      padding-top: 1.25rem;
      padding-bottom: 1.75rem;
    }
  }

  .header__head {
    color: util.$white;
    margin-right: 0.25rem;
  }

  .head-wrapper {
    display: flex;
    margin-top: 4px;
    @media (min-width: util.$tablet) {
      margin: 0;
    }
  }

  .header__logo {
    margin-right: 1rem;
  }

  .header__action-wrapper {
    display: flex;
    align-items: center;
  }

  .header__elips {
    position: relative;
    height: 20px;
    margin-left: 1rem;
    @media (min-width: util.$tablet) {
      margin-left: 1.5rem;
    }
  }
}

.dark-theme {
  background-color: util.$dark-grey;
}
