@use '../../util/util';
@use '../../typography/typography' as font;
@use './add-task' as task;
@use './chevron' as chevron;
@use './vertical-elips' as elips;

#header {
  @include task.add-task;
  @include chevron.chevron;
  @include elips.vertical-elips;

  .sidebar-state {
    position: relative;
    z-index: 2;
  }

  .head_level-2 {
    @include font.h2;
    @media (min-width: util.$tablet) {
      font-size: 1.25rem;
    }
    @media (min-width: util.$desktop) {
      @include font.h1;
    }
  }

  .header {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: util.$tablet - 125px) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    @media (min-width: util.$desktop) {
      padding-top: 1.25rem;
      padding-bottom: 1.75rem;
    }
    position: relative;
  }

  .header__head {
    margin-right: 0.25rem;

    @media (min-width: util.$tablet) {
      margin-top: 0.15rem;
      margin-left: 1.75rem;
    }
  }

  .head-wrapper {
    display: flex;
    margin-top: 4px;

    @media (min-width: util.$tablet) {
      margin: 0;
    }
  }
  @media (min-width: util.$tablet) {
    .line_dark {
      background-color: util.$lines_dark;
    }
    .line_light {
      background-color: util.$lines_light;
    }
    .line {
      width: 1px;
      height: 5rem;

      position: absolute;
      top: 0;
      left: 12.5rem;
    }
    .line_sidebar {
      left: 15.78rem;
    }
  }

  .header__logo {
    margin-right: 1rem;
  }
  .header__logo_sidebar {
    margin-right: 4.5rem;
  }

  .header__action-wrapper {
    display: flex;
    align-items: center;
  }

  .header__elips {
    position: relative;
    height: 20px;
    margin-left: 1rem;

    @media (min-width: util.$tablet) {
      margin-left: 1.5rem;
    }
  }

  .submenu_dark {
    background-color: util.$bg-theme_very-dark-grey;
  }
  .submenu_light {
    background-color: util.$white;
  }
  .header__submenu-wrapper {
    border-radius: util.$radius;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));

    position: absolute;
    right: 0.5rem;
    top: 2rem;
    z-index: 1;

    .body_level-1 {
      @include font.p1;
    }
    .submenu__btn {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0.25rem;
    }
    ._delete {
      color: util.$red;
    }
    .submenu__btn {
      width: max-content;
    }
  }
  .header__submenu-wrapper > div {
    padding: 0.5rem 0.75rem;

    display: flex;
    flex-direction: column;
  }
}

.header_dark {
  background-color: util.$dark-grey;
}
.head_dark {
  color: util.$white;
}

.header_light {
  background-color: util.$white;
}
.head_light {
  color: util.$black;
}
