@use '../../util/util';
@use '../../typography/typography' as font;
@use './add-task' as task;
@use './chevron' as chevron;
@use './vertical-elips' as elips;

#header {
  @include task.add-task;
  @include chevron.chevron;
  @include elips.vertical-elips;

  .head_level-2 {
    @include font.h2;
  }

  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__head {
    color: util.$white;
    margin-right: 0.25rem;
  }

  .head-wrapper {
    display: flex;
    margin-top: 4px;
  }

  .header__logo {
    margin-right: 1rem;
  }

  .header__cta-wrapper {
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__elips {
    position: relative;
    height: 20px;
    padding: 0;
  }
}

.dark-theme {
  background-color: util.$dark-grey;
}
