#header .add-task__btn {
  border: none;
  cursor: pointer;
  background-color: #635fc7;
  border-radius: 24px;
  color: #fff;
  word-spacing: -2.5px;
  padding: 0.625rem 1.125rem 0.5rem;
  display: flex;
}
@media (min-width: 685px) {
  #header .add-task__btn {
    padding: 0.9375rem 1.5625rem 0.875rem 1.5rem;
  }
}
#header .add-task__btn:disabled {
  cursor: not-allowed;
}
#header .add-task__btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
  text-transform: capitalize;
}
#header .add-task__btn svg {
  width: 12px;
  height: 12px;
}
@media (min-width: 685px) {
  #header .add-task__btn svg {
    transform: scale(0.6);
    vertical-align: bottom;
  }
}
#header .chevron__btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
}
#header .vertical-elips__btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  padding: 0;
}
#header .sidebar-state {
  position: relative;
  z-index: 2;
}
#header .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
@media (min-width: 685px) {
  #header .head_level-2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1150px) {
  #header .head_level-2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.25em;
  }
}
#header .header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1150px) {
  #header .header {
    padding-top: 1.25rem;
    padding-bottom: 1.75rem;
  }
}
#header .header__head {
  margin-right: 0.25rem;
}
#header .head-wrapper {
  display: flex;
  margin-top: 4px;
}
@media (min-width: 685px) {
  #header .head-wrapper {
    margin: 0;
  }
}
#header .header__logo {
  margin-right: 1rem;
}
#header .header__action-wrapper {
  display: flex;
  align-items: center;
}
#header .header__elips {
  position: relative;
  height: 20px;
  margin-left: 1rem;
}
@media (min-width: 685px) {
  #header .header__elips {
    margin-left: 1.5rem;
  }
}

.header_dark {
  background-color: #2b2c37;
}

.head_dark {
  color: #fff;
}

.header_light {
  background-color: #fff;
}

.head_light {
  color: #000112;
}

#task-form .btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  color: #635fc7;
  word-spacing: -2.5px;
  padding: 0.5rem 0 0.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#task-form .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  font-weight: 700;
  text-transform: capitalize;
}
#task-form .btn svg {
  width: 12px;
  height: 12px;
  fill: #635fc7;
  vertical-align: bottom;
  transform: scale(0.7);
}
#task-form .btn_create {
  background-color: #635fc7;
  color: #fff;
}
#task-form .btn_create:hover,
#task-form .btn_create:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#task-form .btn_delete {
  background-color: #ea5555;
  color: #fff;
}
#task-form .btn_delete:hover,
#task-form .btn_delete:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#task-form .btn_cancel--light {
  background-color: #ea5555;
  color: #fff;
}
#task-form .btn_cancel--light:hover,
#task-form .btn_cancel--light:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#task-form .cross-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  fill: #828fa3;
  padding: 0;
}
#task-form .cross-btn:hover,
#task-form .cross-btn:focus {
  fill: #ea5555;
  transition: background-color 0.5s;
}
#task-form .task-form_dark {
  background-color: #2b2c37;
}
#task-form .task-form_light {
  background-color: #fff;
}
#task-form .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#task-form .task-form {
  padding: 1.5rem;
  border-radius: 6px;
}
#task-form .task-form .header_dark {
  color: #fff;
}
#task-form .task-form .header_light {
  color: #000112;
}
#task-form .task-form .task-form__head {
  margin-bottom: 1.5rem;
}
#task-form .form {
  /* display: flex;
  flex-direction: column; */
}
#task-form .form .form__label {
  display: flex;
  flex-direction: column;
}
#task-form .form .form__label_dark {
  color: #fff;
}
#task-form .form .form__label_light {
  color: #828fa3;
}
#task-form .form .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 1.5rem;
}
#task-form .form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  margin-top: 0.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem;
  opacity: 1 important;
}
#task-form .form .input_dark {
  background-color: #2b2c37;
  color: #fff;
}
#task-form .form .input_dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#task-form .form .input_light {
  background-color: #fff;
  color: #000112;
}
#task-form .form .input_light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#task-form .form .input_subtask {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  width: 100%;
}
#task-form .form textarea {
  height: 104px;
}
#task-form .form .subtask-wrapper {
  display: flex;
}
#task-form .form .fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
#task-form .form .fieldset > legend,
#task-form .form .fieldset > label {
  margin: 0;
}
#task-form .form .btn-wrapper {
  margin-bottom: 1.5rem;
}
#task-form .form select {
  text-transform: capitalize;
  padding: 1rem;
}

#subtask-form {
  width: 100%;
  max-width: 480px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 2;
}
#subtask-form input[type=checkbox] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#subtask-form .checkbox {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 0px 0.2rem;
  margin-right: 1rem;
  display: inline-block;
}
#subtask-form .checkbox_active {
  background-color: #635fc7;
}
#subtask-form .subtask-form_dark {
  background-color: #2b2c37;
}
#subtask-form .subtask-form_light {
  background-color: #fff;
}
#subtask-form .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#subtask-form .body_level-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  color: #828fa3;
}
#subtask-form .subtask-form {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
}
#subtask-form .subtask-form .header_dark {
  color: #fff;
}
#subtask-form .subtask-form .header_light {
  color: #000112;
}
#subtask-form .subtask-form .submenu_dark {
  background-color: #20212c;
}
#subtask-form .subtask-form .submenu_light {
  background-color: #fff;
}
#subtask-form .subtask-form .subtask-form__head {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
#subtask-form .subtask-form .subtask-form__body {
  margin-bottom: 1.5rem;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper {
  border-radius: 8px;
  position: absolute;
  right: 1rem;
  top: 3rem;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper .submenu__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.25rem;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper ._delete {
  color: #ea5555;
}
#subtask-form .subtask-form .subtask-form__submenu-wrapper > div {
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
}
#subtask-form .form .form__label {
  display: flex;
  flex-direction: column;
}
#subtask-form .form .form__label_dark {
  color: #fff;
}
#subtask-form .form .form__label_light {
  color: #828fa3;
}
#subtask-form .form .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 1.5rem;
}
#subtask-form .form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  margin-top: 0.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem;
  opacity: 1 important;
}
#subtask-form .form .input_dark {
  background-color: #2b2c37;
  color: #fff;
}
#subtask-form .form .input_dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#subtask-form .form .input_light {
  background-color: #fff;
  color: #000112;
}
#subtask-form .form .input_light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#subtask-form .form .input_subtask {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  width: 100%;
}
#subtask-form .form textarea {
  height: 104px;
}
#subtask-form .form .subtask-wrapper {
  display: flex;
}
#subtask-form .form .fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
#subtask-form .form .fieldset > legend,
#subtask-form .form .fieldset > label {
  margin-bottom: 1rem;
}
#subtask-form .form .btn-wrapper {
  margin-bottom: 1.5rem;
}
#subtask-form .form select {
  text-transform: capitalize;
  padding: 1rem;
}

.wrapper_dark {
  border-radius: 4px;
  background-color: #20212c;
  margin-bottom: 0.5rem;
}

.subtask-wrapper .subtask__label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.9125em 0.25em 1em 0.75em;
}
.subtask-wrapper .description_active {
  text-decoration: line-through;
  opacity: 0.5;
}

#board-form {
  /* @include btn.cross-btn; */
}
#board-form .btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  color: #635fc7;
  word-spacing: -2.5px;
  padding: 0.5rem 0 0.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#board-form .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  font-weight: 700;
  text-transform: capitalize;
}
#board-form .btn svg {
  width: 12px;
  height: 12px;
  fill: #635fc7;
  vertical-align: bottom;
  transform: scale(0.7);
}
#board-form .btn_create {
  background-color: #635fc7;
  color: #fff;
}
#board-form .btn_create:hover,
#board-form .btn_create:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#board-form .btn_delete {
  background-color: #ea5555;
  color: #fff;
}
#board-form .btn_delete:hover,
#board-form .btn_delete:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#board-form .btn_cancel--light {
  background-color: #ea5555;
  color: #fff;
}
#board-form .btn_cancel--light:hover,
#board-form .btn_cancel--light:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#board-form .board-form_dark {
  background-color: #2b2c37;
}
#board-form .board-form_light {
  background-color: #fff;
}
#board-form .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#board-form .board-form {
  padding: 1.5rem;
  border-radius: 6px;
}
#board-form .board-form .header_dark {
  color: #fff;
}
#board-form .board-form .header_light {
  color: #000112;
}
#board-form .board-form .board-form__head {
  margin-bottom: 1.5rem;
}
#board-form .form {
  /* display: flex;
  flex-direction: column; */
}
#board-form .form .form__label {
  display: flex;
  flex-direction: column;
}
#board-form .form .form__label_dark {
  color: #fff;
}
#board-form .form .form__label_light {
  color: #828fa3;
}
#board-form .form .label {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 1.5rem;
}
#board-form .form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  margin-top: 0.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem;
  opacity: 1 important;
}
#board-form .form .input_dark {
  background-color: #2b2c37;
  color: #fff;
}
#board-form .form .input_dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#board-form .form .input_light {
  background-color: #fff;
  color: #000112;
}
#board-form .form .input_light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#remove .btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  color: #635fc7;
  word-spacing: -2.5px;
  padding: 0.5rem 0 0.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#remove .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  font-weight: 700;
  text-transform: capitalize;
}
#remove .btn svg {
  width: 12px;
  height: 12px;
  fill: #635fc7;
  vertical-align: bottom;
  transform: scale(0.7);
}
#remove .btn_create {
  background-color: #635fc7;
  color: #fff;
}
#remove .btn_create:hover,
#remove .btn_create:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#remove .btn_delete {
  background-color: #ea5555;
  color: #fff;
}
#remove .btn_delete:hover,
#remove .btn_delete:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#remove .btn_cancel--light {
  background-color: #ea5555;
  color: #fff;
}
#remove .btn_cancel--light:hover,
#remove .btn_cancel--light:focus {
  background: #a8a4ff;
  transition: background-color 0.5s;
}
#remove .remove_dark {
  background-color: #2b2c37;
}
#remove .remove_light {
  background-color: #fff;
}
#remove .head_level-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
}
#remove .body_level-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.77em;
  color: #828fa3;
}
#remove .remove {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
}
#remove .remove .header_dark {
  color: #fff;
}
#remove .remove .header_light {
  color: #000112;
}
#remove .remove .remove__head {
  margin-bottom: 1.5rem;
  display: flex;
}
#remove .remove .remove__body {
  margin-bottom: 1.5rem;
}
#remove .remove .remove__btn-wrapper > button {
  margin-bottom: 1rem;
}

#sidebar {
  position: relative;
  z-index: 2;
}
#sidebar .slider_dark {
  background-color: #20212c;
}
#sidebar .slider_light {
  background-color: #f4f7fd;
}
#sidebar .slider {
  border-radius: 6px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  display: flex;
  justify-content: center;
}
#sidebar .slider__content {
  display: flex;
  align-items: center;
}
#sidebar .slider__content > svg {
  padding: 0 1.4rem 0 1.4rem;
}
#sidebar .slider__btn-wrapper {
  background-color: #635fc7;
  border-radius: 1rem;
  width: 40px;
  display: flex;
  cursor: pointer;
}
#sidebar .slider__btn {
  all: unset;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.45rem;
  margin: 3px;
}
#sidebar .slide-right {
  transform: translateX(135%);
  transition: transform 450ms ease-out;
}
#sidebar .slide-left {
  transform: translateX(0);
  transition: transform 450ms ease-out;
}
#sidebar .head_level-3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
}
#sidebar .is-hidden {
  transform: translateX(-100%);
  transition: transform 450ms ease-out;
}
#sidebar .is-not-hidden-side {
  transform: translateX(0);
  transition: transform 450ms ease-out 250ms;
}
#sidebar .sidebar_dark {
  background-color: #2b2c37;
  border-right: 1px solid #3e3f4e;
}
#sidebar .sidebar_light {
  background-color: #fff;
  border-right: 1px solid #e4ebfa;
}
#sidebar .sidebar {
  color: #828fa3;
  fill: #828fa3;
  max-width: 300px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 574px) {
  #sidebar .sidebar {
    border-radius: 8px;
    position: absolute;
    min-width: 265px;
    top: 50%;
    left: 50%;
    height: fit-content;
    transform: translate(-50%, 10%);
    padding-bottom: 1rem;
  }
}
#sidebar .sidebar .sidebar__list {
  padding-right: 1.5rem;
}
#sidebar .sidebar .sidebar__list-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  text-transform: uppercase;
  padding: 1.25rem 0 1.25rem 2rem;
}
#sidebar .sidebar .sidebar__list-item--btn > svg {
  padding: 0 1rem 0 2rem;
}
#sidebar .sidebar .sidebar__list-item--btn {
  all: unset;
  cursor: pointer;
  width: 100%;
  border-radius: 0 100px 100px 0;
  display: flex;
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
}
#sidebar .sidebar ._selected {
  background-color: #635fc7;
  color: #fff;
  fill: #fff;
}
#sidebar .sidebar .operator {
  /* padding-top: 5px;
       padding-right: 2px;
       transform: scale(0.6);
       width: 12px;
       height: 12px; */
  font-size: 0.7rem;
  font-weight: 700;
  /* padding-top: 2px; */
  letter-spacing: 2px;
}
#sidebar .sidebar .add {
  fill: #635fc7;
  color: #635fc7;
  padding-bottom: 2rem;
}
#sidebar .sidebar .sidebar-slider__wrapper {
  padding: 0 1.5rem 0 1.5rem;
}
#sidebar .sidebar .sidebar__toggle-btn {
  all: unset;
  cursor: pointer;
  padding: 0.9rem 1.25rem 0.9rem 0;
  margin-bottom: 2.0375rem;
  margin-top: 0.55rem;
  display: flex;
  border-radius: 0 100px 100px 0;
}
#sidebar .sidebar .sidebar__toggle-btn:nth-child(odd) {
  fill: #fff;
}
#sidebar .sidebar .sidebar__toggle-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
  text-transform: capitalize;
  margin-left: 0.9735rem;
  margin-right: 1.25rem;
}
#sidebar .sidebar .is-not-hidden {
  background-color: #635fc7;
  transform: translateX(60%);
  transition: transform 450ms ease-out 350ms;
  position: absolute;
  bottom: 0;
}
#sidebar .sidebar .underneath {
  fill: #fff;
  transform: translateX(-115%);
  transition: transform 450ms ease-in;
  position: absolute;
  bottom: 0;
}

.bg-color {
  width: 280px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(rgba(43, 44, 55, 0.3), rgba(43, 44, 55, 0.2));
}

#board .board_dark {
  background-color: #20212c;
}
#board .board_light {
  background-color: #f4f7fd;
}
#board .board {
  height: 100vh;
  display: flex;
  overflow: scroll;
}

.board__column-wrapper {
  margin: 1.5rem;
}
.board__column-wrapper .column .column__head {
  margin-bottom: 1.5rem;
  display: flex;
}
.board__column-wrapper .column .column__head .head_level-4 {
  color: #828fa3;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  text-transform: uppercase;
}
.board__column-wrapper .column .column__head .status_theme {
  background-color: red;
  border-radius: 100%;
  padding: 0.45rem;
  margin-right: 0.75rem;
}
.board__column-wrapper .column .column__task-wrapper {
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.board__column-wrapper .column .column__task-wrapper .task_dark {
  background-color: #2b2c37;
  color: #fff;
}
.board__column-wrapper .column .column__task-wrapper .task_light {
  background-color: #fff;
  color: #000112;
}
.board__column-wrapper .column .column__task-wrapper .task {
  border-radius: 8px;
  width: 280px;
  padding: 1.5rem 1rem;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  /* .task__head:hover {
  color: red;
  } */
}
.board__column-wrapper .column .column__task-wrapper .task .task__head {
  margin-bottom: 0.5rem;
}
.board__column-wrapper .column .column__task-wrapper .task .title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
  text-align: left;
}
.board__column-wrapper .column .column__task-wrapper .task .body {
  color: #828fa3;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  text-align: left;
}
.board__column-wrapper .column .column__task-wrapper:hover > .task {
  color: #635fc7;
}

.board__add-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__add-column-wrapper .add-column_dark {
  background-color: #20212c;
}
.board__add-column-wrapper .add-column_light {
  background-color: #f4f7fd;
}
.board__add-column-wrapper .add-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, -2.5rem);
}
.board__add-column-wrapper .add-column .add-column__head {
  margin-bottom: 1.5rem;
}
.board__add-column-wrapper .add-column .add-column__head-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.28em;
  text-align: center;
  color: #828fa3;
  padding: 0 0.5rem;
}
.board__add-column-wrapper .add-column .operator {
  /* padding-top: 5px;
       padding-right: 2px;
       transform: scale(0.6);
       width: 12px;
       height: 12px; */
  font-size: 0.7rem;
  font-weight: 700;
  /* padding-top: 2px; */
  letter-spacing: 2px;
}
.board__add-column-wrapper .add-column .add-column__btn {
  border: none;
  cursor: pointer;
  background-color: #635fc7;
  color: #fff;
  border-radius: 24px;
  padding: 0.9375rem 1.125rem;
}
.board__add-column-wrapper .add-column .btn-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.27em;
}
.board__add-column-wrapper .add-column .btn-text_column {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: #828fa3;
}
.board__add-column-wrapper .add-column .operator_column {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.25em;
  font-size: 1.25rem;
  color: #828fa3;
  letter-spacing: 2px;
}
.board__add-column-wrapper .add-column .btn_theme {
  background-color: #20212c;
  background-color: transparent;
}

body,
html {
  margin: 0;
  padding: 0;
}
body .overlay,
html .overlay {
  background-color: #000;
  opacity: 0.65;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  padding-left: 100vw;
  padding-right: 100vw;
  margin-left: -100vw;
  margin-right: -100vw;
}

/*# sourceMappingURL=globals.css.map */
