// colors
$black: #000112;
$bg-theme_very-dark-grey: #20212c;
$bg-theme_light-grey: #f4f7fd;
$dark-grey: #2b2c37;
$lines_dark: #3e3f4e;
$lines_light: #e4ebfa;
$medium-grey: #828fa3;
$white: #fff;
$purple: #635fc7;
$purple_hover: #a8a4ff;
$red: #ea5555;
$red_hover: #ff9898;

// margins & padding

// device sizes
$tablet: 768px;
$desktop: 1150px;

// misc
$radius: 8px;

@mixin margin-reset {
  margin: 0;
}

@mixin extension {
  padding-left: 100vw;
  padding-right: 100vw;
  margin-left: -100vw;
  margin-right: -100vw;
}
